[advice]
    detachedHead = false
[alias]
    bog = log --graph --pretty='format:%C(auto)%h%d  %s  %C(auto,blue)(%aN, %ar)%Creset'
    up = !"f() { git checkout $1 && git fetch upstream && git rebase upstream/$1 && git push; }; f"
    pog = log --graph --pretty='format:%C(auto)%h%d  %s  %C(auto,blue)(%aN, %ar)%Creset' --all
[blame]
    coloring = repeatedLines
    date = format-local:%F %R
[core]
    autocrlf = input
    compression = 9
    editor = nano
[diff]
    algorithm = histogram
[fetch]
    prune = true
[merge]
    ff = false
[mergetool]
    keepBackup = false
[pull]
    rebase = true
