/*

!/.xinitrc
!/.gitignore
!/.gitprofile
!/.zshrc
!/.zprofile
!/aur


!/.config
/.config/*

!/.config/alacritty


!/.config/Code - OSS
/.config/Code - OSS/*
!/.config/Code - OSS/User
/.config/Code - OSS/User/*

!/.config/Code - OSS/User/settings.json
