[advice]
    detachedHead = false
[alias]
    cerge = merge --no-ff
    bull = !"f() { git fetch origin $@:$@; }; f"
    pog = log --all --oneline --graph --decorate=short
[core]
    autocrlf = input
    editor = nano
[fetch]
    prune = true
[mergetool]
    keepBackup = false
[pull]
    rebase = interactive
[submodule]
    recurse = true
