/*

!/.xinitrc
!/.gitignore
!/.gitprofile
!/.zshrc
!/.zprofile
!/aur.sh


!/.config
/.config/*

!/.config/i3
!/.config/termite
!/.config/polybar


!/.config/Code - OSS
/.config/Code - OSS/*
!/.config/Code - OSS/User
/.config/Code - OSS/User/*

!/.config/Code - OSS/User/settings.json
